<!-- Наследование -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>Login</h1>
    <!-- Вывод сообщения при неправильном вводе пароля и пользователя. -->
        {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <div id="wrapper">
        <form method="post" id="signin" method="" action="" autocomplete="off">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Имя"/>
            <input type="password" id="password" name="password" placeholder="пароль"/>
            <button type="submit">&#xf0da;</button>
        </form>
    </div>

{% endblock %}

